.login {
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logn-illustration img {
  max-width: 450px;
  height: auto;
}
.login-form {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 15px #0000003a;
}
.login-user {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: -80px;
}
