/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* Normalize Css */
/* Tailwind Css here */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: inherit;
}
*::before {
  box-sizing: inherit;
}
li {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #35355e;
}
img {
  height: 100%;
  width: 100%;
}
button,
input {
  outline: none !important;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #35355e;
}
/* Custome css */
.form-control input:hover,
.form-control input:focus {
  border-color: #ff4155;
}
.form-control input[type="password"] {
  -webkit-text-security: disc;
  text-security: disc;
}
